.josh_text_short{
    white-space: nowrap;
     text-overflow:ellipsis;
      overflow: hidden;
       max-width:100px;
       
}

.josh_text_long{
    white-space: nowrap;
     text-overflow:ellipsis;
      overflow: hidden;
       max-width:200px;
    
}

.josh_cursor{
    cursor: pointer;
}

.josh_hidden{
    display:none;
}

.bd-placeholder-img {

    font-size: 1.125rem;

    text-anchor: middle;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

  }



  @media (min-width: 768px) {

    .bd-placeholder-img-lg {

      font-size: 3.5rem;

    }

  }



  .bckground{

   /* background:url('images/ditlogo_background.png') no-repeat 50% 5%;*/

   background: rgb(255, 255, 255);
/*background: linear-gradient(90deg, rgba(61, 54, 68,1) 0%, rgba(255,255,255,1) 54%, rgba(61, 54, 68,1) 100%);*/


  }

  .box_shadow{
    box-shadow: rgba(0,0,0,1) 2px 2px 2px;
}

.mycontainer{
    background:#ffffff url(../images/bgsafia2-8.png) repeat top center;
    height:500px;
    margin-top:5%;
    width:100%;
}

.myrow{
  
    background: url(../images/safia_logo_opec.png) no-repeat 50% 40% fixed;
}

.jdark_opec{
  background: rgba(0,0,0,0.2);
}

#bottom{
 
    width:100%;
    height:90px;
    color:#666666;
    background: #c1bfc4;
    }
    #bottom a{ 
    color:#666666;
    }
    
